seletor{propriedade:valor;}
h1{color: red;
    color: #FFFFFF;
font-size: 16px;
}
.abacaxi{
    font-family: familia da fonte;
    font-size: tamanho da fonte;
    font-style: estilo da fonte;
    font-variant: maiuscula ou minuscola;

}
